.container{
    width:70%; 
    border:2px black; 
    border-radius:10px;
    background-color: cadetblue;
}
textarea{
    background-color: blueviolet;
    color: white;
}
 

    .box {​​​​​​​
        margin: 50px;
        width:153px;
        height:103px;
        background: url("2.jpg") no-repeat;
        position: relative;
        box-shadow: 5px 5px 10px red;
        


        /* Standard syntax */
        animation-name: moveit;
        animation-duration: 2s;
    }​​​​​​​
     
    /* Standard syntax */
    @keyframes moveit {​​​​​​​
        from {​​​​​​​left: 0;}​​​​​​​
        to {​​​​​​​left: 100%;}​​​​​​​
    }​​​​​​​

                          





